__pycache__/

*.log
*.json

datasets/amazon*
datasets/ml-1m*
datasets/yelp*
datasets/raw
datasets/amazon_item_emb
datasets/compressed_file
datasets/raw*
datasets/__MACOSX
datasets/Yelp JSON
datasets/datacheck.txt
datasets/preprocess_data.py
datasets/preprocess_data_v0.py
datasets/preprocess_data_v1.py
datasets/validate_mapping.py

LLM-DiffRec/test_semantic
LLM-DiffRec/saved_models_semantic

worklog.txt
test_npu.py
saved_models
models/bge-m3
log
output_log.txt
kernel_meta
fusion_result.json
checkpoints
